<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	<title>School War</title>
</head>
<body>
	<p>
	<button id="update" onclick="start()">update</button>
	
	</p>
<canvas id="canvas"></canvas>
<script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
</body>
</html>