<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<div class="limiter">
	<title>Document</title>
</head>
<body>
	
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form method="post" action="https://schoolwar.maxar2005.repl.co/login" class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-51">
                    Login
                    </span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
					<center class="answer">
						{{answer}}
					</center>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                        Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>